@import "../../../../variables.scss";

:host {
  height: 6%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    violet,
    $button-and-middle-header-color,
    deepSkyblue
  );
  height: 100%;
  color: white;
  text-decoration: none;
}
